<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
    </configSections>
    <connectionStrings configSource="connections.config" />

    <!--<modules>
        <module assemblyFile="Options.dll"
                moduleType="Options.OptionsModule, Options, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="OptionsModule"
                startupLoaded="false" />
        <module assemblyFile="Import.dll"
                moduleType="Import.ImportModule, Import, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="ImportModule"
                startupLoaded="false" />
        <module assemblyFile="ManualInput.dll"
                moduleType="ManualInput.ManualInputModule, Import, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="ManualInputModule"
                startupLoaded="false" />
        <module assemblyFile="Export.dll"
                moduleType="Export.ExportModule, Export, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="ExportModule"
                startupLoaded="false" />
        <module assemblyFile="Validation.dll"
                moduleType="Validation.ValidationModule, Validation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="ValidationModule"
                startupLoaded="false" />
        <module assemblyFile="Charts.dll"
                moduleType="Charts.ChartsModule, Charts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="ChartsModule"
                startupLoaded="false" />
        <module assemblyFile="Reports.dll"
                moduleType="Reports.ReportsModule, Reports, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="ReportsModule"
                startupLoaded="false" />
        <module assemblyFile="Catalogs.dll"
                moduleType="Catalogs.CatalogsModule, Catalogs, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="CatalogsModule"
                startupLoaded="false" />
        <module assemblyFile="Blank.dll"
                moduleType="Blank.BlankModule, Blank, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="BlankModule"
                startupLoaded="true" />
    </modules>-->
</configuration>